"" Source your .vimrc
"source ~/.vimrc

nnoremap <SPACE> <Nop>
let mapleader=" "

" show relative line numbers except on your current line show absolute line number
set relativenumber
set number

" when pasting, the text you are highlighting does not replace the text in your register
vnoremap p pgvy

" make Y behave like D and C, yanking til end of line
map Y y$

" copy / paste to / from system clipboard with leader y / p
" map <leader>y \"+y
" map <leader>p \"+p
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard

" paste over rest of line with leader p
nnoremap <leader>p v$<Left>pgvy

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

nnoremap <leader>o o<Esc>V99<
nnoremap <leader>O O<Esc>V99<

noremap <leader>b J
noremap <leader>B gJ
noremap J <C-d>zz
noremap K <C-u>zz
noremap <leader>j 10jzz
noremap <leader>k 10kzz

noremap <leader>u U
noremap U <C-r>

noremap <leader>d "_d
noremap <leader>D "_d$

inoremap jj <Esc>

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5 sidescrolloff=10

set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file

" Don't use Ex mode, use Q for formatting.
map Q gq

" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
" Find more examples here: https://jb.gg/share-ideavimrc

"" Map <leader>R to start debug
map <leader>R <Action>(Debug)
map <leader>r <Action>(Run)

"" Map <leader>b to toggle the breakpoint on the current line
map gb <Action>(ToggleLineBreakpoint)

nmap <leader>? :action GotoAction<CR>

map gr :action ShowUsages<CR>
map gi :action GotoImplementation<CR>
map gs :action GotoSuperMethod<CR>
map gf :action Find<CR>
map gF :action FindInPath<CR>
map gy :action Replace<CR>
map gY :action ReplaceInPath<CR>
map gt :action SearchEverywhere<CR>

nmap <leader>l :action NextTab<CR>
nmap <leader>h :action PreviousTab<CR>
nmap <leader>x :action CloseEditor<CR>
nmap <leader>X :action CloseAllEditorsButActive<CR>

nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
map gh <Action>(ShowErrorDescription)

map <leader>c :action CommentByLineComment<CR>
map <leader>n :action RenameElement<CR>
nmap <leader>ev :action IntroduceVariable<CR>
vmap <leader>ev :action IntroduceVariable<CR>
nmap <leader>em :action ExtractMethod<CR>
vmap <leader>em :action ExtractMethod<CR>
nmap <leader>m :action Move<CR>
nmap <leader>f :action OptimizeImports<CR> \| :action ReformatCode<CR> \| :action Javascript.Linters.EsLint.Fix<CR> \| :action TsLintFileFixAction<CR>
nmap <leader>F :action ReformatCode<CR>
nmap <leader>G :action Generate<CR>

nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>

map <leader>t :action ActivateTerminalToolWindow<CR>
" switch focus back to Editor with <Esc>
